<div id="left_side">
  <p  id="NameRepository"  >Repository name</p>
<div id="Description">
  Description: This is UniversityBase which provides possibility to add, edit, delete students and manage their marks, groups.

</div>


 <div  id="PhotoAndContributors">
    
        <div style="float: left;"   id="Photo">
            
    <img width="38" height="38" src="assets/images/PhotoExample.jfif"/>
            <p id="Author">Name author</p>
</div>
             
    <div id="Contributors">
        <p id="TitleContributors" ><img width="18px" height="18px" src="assets/images/contributor.PNG">Contributors:</p>
        <p style="text-align: center;" >12314</p>
        
         
 </div>
            
  </div>
<div id="IssueForm">
    <table id="IssueTable">
<tr class="TrIssueTable" >
<td  class="TdIssueTable"  >
    <span >Resolution</span> 
</td>
<td  class="TdIssueTable"  >
    <div class="Resolution">14</div>
</td>
</tr>
<tr  class="TrIssueTable" >
<td   class="TdIssueTable"  >
    <span >Component</span>
</td>
   <td  class="TdIssueTable"  >
    <div  class="Component">2</div>
   </td> 
</tr>
<tr  class="TrIssueTable" >
<td  class="TdIssueTable"  >
    <span >Bug</span>
</td>
<td  class="TdIssueTable"  >
    <div class="Bug">4</div>
</td>
</tr>
<tr class="TrIssueTable" >
<td  class="TdIssueTable"  >
    <span >Browser</span>
</td>
 <td  class="TdIssueTable"  >
    <div class="Browser">2</div>
</td>
</tr>
</table>
</div>
</div>
<div id="right_side">
  <p id="Issue" >Issue</p>
  <table id="TableIssue">
    <tr class="Tr">
        
  <div class="issue" >
      <td class="Td" >
      <img src="assets/image/Important!.PNG"/>
      <span class="textIssue"> <a id="UrlIssue" href="">Cannot import name search </a>
          <p style="font-size: 10px;color: #586069;">#39 opened on 4 Sep by nateGeorge </p>
          </span>
      </td>
  </div>
                        
    </tr>
    
        <tr class="Tr">
        
  <div   class="issue" >
      <td class="Td" >
      <img src="assets/image/Important!.PNG"/>
      <span class="textIssue"> <a id="UrlIssue" href="">Less Hits than expected </a>
          <p style="font-size: 10px;color: #586069;">#37 opened on 12 Jul by agneet42  </p>
          </span>
      </td>
  </div>
                        
    </tr>
    
</table>
</div>
