<div id="left_side" *ngIf="repository">
    <p id="NameRepository">{{repository.name}}</p>
    <div id="Description">
        {{repository.description}}
    </div>
    <div id="PhotoAndContributors">
        <div style="float: left;" id="Photo">
            <img width="38" height="38" src="{{repository.owner.avatar_url}}" />
            <p id="Author">{{repository.owner.login}}</p>
        </div>
        <div id="Contributors">
            <p id="TitleContributors"><img width="18px" height="18px" src="assets/images/contributor.PNG">Contributors:</p>
            <p style="text-align: center;">12314</p>
        </div>
    </div>
    <div id="IssueForm">
        <select (change)="selectType($event.target.value)">
            <option *ngFor="let type of labelTypes">{{type}}</option>
        </select>
        <table id="IssueTable">
            <tr class="TrIssueTable" *ngFor="let type of keys" (click)="filterIssues(type)">
                <td style="padding-left: 20px;" class="TdIssueTable">
                    <span>{{type}}</span>
                </td>
                <td class="TdIssueTable">
                    <div class="Resolution">{{labelTypesCount[type]}}</div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="right_side" *ngIf="repository && issues">
    <p id="Issue">Issue</p>
    <table id="TableIssue" *ngIf="issues">
        <tr class="Tr" *ngFor="let issue of filteredIssues">
            <div class="issue">
                <td class="Td">
                    <span class="textIssue"> <p><img src="assets/images/Important!.PNG"/><a id="UrlIssue" routerLink="issues/{{issue.number}}">{{issue.title}} </a></p>
          <p style="font-size: 10px;color: #586069;">#{{issue.number}} opened on {{created_at | date: 'dd/MMM'}} by <a href="{{issue.user.html_url}}">{{issue.user.login}}</a> </p>
          </span>
                </td>
            </div>
        </tr>
    </table>
</div>