<div class="Wrapper"  >

<div id="InfinitLoop" >
  <div id="HeaderInfinitLoop">
      Infinite loop in IE10 with number input 
  </div>
  <div id="ContentInfinitLoop">
      <p>Hello</p>
      <p>Bye</p>
     <div class="Browser">Browser: IE</div>
      <div class="Component">Component: DOM</div>
  </div>
</div>
</div>
<div>
  
</div>

<div class="Wrapper">
    
    <div id="IssueAndRPS" >
        <div id="RelevantIssues"><span class="Label_1"  >4</span><span class="TextIssue" >Relevant Issue found</span>
           <span  >
            <div class="StaticBlock1" ><span class="FirstStBL" ></span><span  class="SecondStBl" ><span class="characterForBlock" >►</span></span></div>
            </span>
        </div>
  
        <div id="RelevantRps"><span class="Label_1"  >2</span><span class="TextIssue" >Relevant RPs found</span>
             <span  >
            <div class="StaticBlock2" ><span class="FirstStBL" ></span><span  class="SecondStBl" ><span class="characterForBlock" >►</span></span></div>
            </span>
        </div>
      
       </div>
  
</div>